.lol {
	background-color: alpha(@light_3, 0.6);
	border-radius: 6px;
}

.bar-content {
	padding: 4px;
}

.thin-button {
}

.thin-button:not(:hover) {
	color: alpha(#000000, 0);
}

.label {
	margin-top: -12px;
	margin-bottom: -12px;
}

.thin-button:not(:hover) .label {
	color: alpha(@card_fg_color, 0.5);
}

.status-bar {
	background-color: @headerbar_bg_color;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
  padding: 32px;
}

.blurred {
  filter: blur(6px);
}
